h3 {
    font-family: "Poppins";
    text-align: center;
    font-size: 3.5em;
}

p {
    word-wrap: break-word;
    font-family: "Poppins Light";
    text-align: center;
    padding: 0 var(--left-offset);
    font-size: 2em;
}