@media screen and (max-width: 1440px) {
    .banner h2 {
        left: var(--side-offset);
    }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
    .banner h2 {
        left: 80px;
    }
}

@media screen and (min-width: 1600px) {
    .banner h2 {
        left: 0;
        right: 0;
        margin: auto;
        max-width: 1440px;
    }
}

.banner h2 {
    position: absolute;
    bottom: 14%;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    object-position: left center;
    object-fit: cover;
    height: 45vh;
}