.banner {
    position: relative;
}

.banner img {
    margin-top: 3vw;
    width: 100%;
    height: auto;
}

h2 {
    position: absolute;
    bottom: 17%;
    left: var(--left-offset);
    font-family: "Poppins";
    font-size: 4em;
}