@media screen and (max-width: 900px) {
    .banner img {
        height: auto;
    }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
    .banner img {
        object-fit: cover;
        height: 45vh;
    }
}

@media screen and (max-width: 1440px) {
    .banner h2 {
        position: absolute;
        bottom: 17%;
        left: var(--side-offset);
    }
}

@media screen and (min-width: 1440px) {
    .banner img {
        object-fit: cover;
        height: 45vh;
    }
    .banner h2 {
        max-width: 1440px;
        margin: 0 auto;
    }
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}