@media screen and (min-width: 900px) {
    .banner img {
        object-fit: cover;
        height: 45vh;
    }
}

@media screen and (max-width: 900px) {
    .banner img {
        height: auto;
    }
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner h2 {
    position: absolute;
    bottom: 17%;
    left: var(--left-offset);
}