@font-face {
    font-family: "Hack Nerd Font Mono";
    src: url("../fonts/Hack-Italic-Nerd-Font-Complete-Mono.woff");
}

@media screen and (max-width: 614px) {
    footer {
        --icon-size: 8vw;
        --icon-border: 9vw;
    }
}

@media screen and (min-width: 614px) {
    footer {
        --icon-size: 5vh;
        --icon-border: 6vh;
    }
}

.content-wrap {
    padding-bottom: 15em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: var(--black-color);
    color: var(--white-color);
}

.social {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

i {
    font-size: var(--icon-size);
    font-family: "Hack Nerd Font Mono";
}

.social a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-border);
    height: var(--icon-border);
    border-style: solid;
    border-radius: 100%;
    border-color: var(--bg-color);
}

.social a:hover {
    background-color: var(--color4);
    /* opacity: 0.3; */
}

footer ul {
    max-width: 700px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1em;
    margin: 1em auto;
}

footer li a {
    text-decoration: none;
}

.copyright {
    color: var(--white-color);
    padding-bottom: 2vw;
    font-size: 0.8em;
    text-align: center;
}