.menu {
    --burger-block-width: 3.5em;
    --burger-offset: var(--left-offset);
    --burger-height: 0.4em;
    --burger-top-margin: 0.8rem;
    --burger-complete-size-y: calc(3 * (var(--burger-height) + var(--burger-top-margin)));
    --burger-complete-size-x: calc(2 * var(--burger-offset) + var(--burger-block-width));
    --header-height: min(15vh, 5em); 
    background-color: var(--bg-color);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
}

header {
    display: grid;
    height: var(--header-height);
    width: 100%;
    grid-template: 100% / var(--burger-complete-size-x) 1fr;
}

.hamburger {
    z-index: 100;
    grid-column-start: 1;
    margin: auto var(--burger-offset);
}

.hamburger:hover {
    cursor: pointer;
}

.line {
    display: block;
    width: var(--burger-block-width);
    height: var(--burger-height);
    margin: var(--burger-top-margin) 0;
    border-color: var(--color1);
    background-color: var(--color1);
    transition: all 0.3s ease-in-out;
}

nav {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    padding-top: var(--header-height);
    margin-left: calc(var(--burger-complete-size-x) * -1);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

nav ul {
    text-align: center;
    margin: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav li {
    list-style: none;
    padding-bottom: 1em;
}

nav li a:hover {
    cursor: pointer;
}

nav a {
    color: var(--white-color);
    display: block;
    font-size: 1.8em;
    font-family: "Poppins";
    margin-bottom: 1em;
    text-decoration: none;
}

nav.overlay {
    visibility: visible;
    margin-left: 0;
    /* padding-left: var(--burger-complete-size-x); */
    padding-left: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

#hamburger.is-open .line:nth-child(1) {
    transform: translateY(calc(1 * (var(--burger-top-margin) + var(--burger-height)))) rotate(-45deg);
}

#hamburger.is-open .line:nth-child(2) {
    opacity: 0;
}

#hamburger.is-open .line:nth-child(3) {
    transform: translateY(calc(-1 * (var(--burger-top-margin) + var(--burger-height)))) rotate(45deg);
}

#hamburger .line:nth-child(4) {
    position: absolute;
    top: 0;
    left: calc(-4 * var(--burger-block-width));
    opacity: 0;
}

#hamburger.is-open .line:nth-child(4) {
    left: var(--burger-offset);
}