@font-face {
    font-family: "Hack Nerd Font Mono";
    src: url("../fonts/Hack-Italic-Nerd-Font-Complete-Mono.woff");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff");
}

@font-face {
    font-family: "Poppins Light";
    src: url("../fonts/Poppins-Light.woff");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("../fonts/Roboto-Thin.woff");
}


@media screen and (max-width: 900px) {
     :root {
        --side-offset: 2.5rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
     :root {
        --side-offset: 75px;
    }
}

@media screen and (min-width: 1440px) {
     :root {
        --side-offset: 5em;
    }
}

:root {
    --white-color: #fff;
    --black-color: #000;
}

[theme='light'] {
    --bg-color: #fff;
    --fg-color: #000;
    --color1: #026873;
    --color2: #02486E;
    --color3: #04C28A;
    --color4: #03B02C;
    --color5: #027940;
    --code-color-bg: var(--bg-color);
    --code-color-fg: var(--color2);
}

[theme='dark'] {
    --bg-color: #171717;
    --fg-color: #fff;
    --color1: #026873;
    --color2: #02486E;
    --color3: #04C28A;
    --color4: #03B02C;
    --color5: #027940;
    --code-color-bg: var(--color2);
    --code-color-fg: var(--color3);
}

[theme='light'] img {
    filter: invert(0) hue-rotate(0deg) saturate(100%);
}

body {
    position: relative;
    opacity: 0;
    background-color: var(--bg-color);
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 0.2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--color3);
    font-family: "Poppins Light", sans-serif;
}

p {
    color: var(--fg-color);
    word-wrap: break-word;
    font-family: "Poppins Light", sans-serif;
    font-size: 1em;
}

ul {
    font-family: "Poppins Light", sans-serif;
    font-size: 1em;
}

article {
    display: inline;
}

h1 {
    color: var(--color2);
    margin-block-start: 0;
    margin-block-end: 0;
    grid-column-start: 2;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 3.5em;
    font-family: "Roboto Thin", sans-serif;
    text-decoration: none;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3.5em;
    color: var(--color1);
}

h3 {
    color: var(--color3);
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.75em;
}

span a {
    text-decoration: none;
    white-space: nowrap;
}

img {
    width: 100%;
    height: auto;
}

code {
    background-color: var(--code-color-fg);
    color: var(--code-color-bg);
    border-radius: 0.3em;
    padding: 4px 5px 6px;
    white-space: nowrap;
}

i {
    font-family: "Hack Nerd Font Mono";
}