:root {
    --white-color: #e7fafc;
    --black-color: #000;
    --left-offset: 5rem;
}

[theme='light'] {
    --bg-color: #e7fafc;
    --fg-color: #000;
    --color1: #00597c;
    --color2: #026873;
    --color3: #04BF8A;
    --color4: #025940;
    --color5: #03A64A;
}

[theme='dark'] {
    --bg-color: #024059;
    --fg-color: #fff;
    --color1: #c0d0d9;
    --color2: #026873;
    --color3: #04BF8A;
    --color4: #025940;
    --color5: #03A64A;
}

[theme='light'] img {
    filter: invert(0) hue-rotate(0deg) saturate(100%);
}

[theme='dark'] img {
    filter: invert(0.8) hue-rotate(193deg) saturate(400%);
}


body {
    position: relative;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    background-color: var(--bg-color);
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--color3);
    font-family: "Poppins Light";
}

p {
    color: var(--fg-color);
    word-wrap: break-word;
    font-family: "Poppins Light";
    font-size: 2em;
    padding: 0 var(--left-offset);
}

h3 {
    color: var(--color3);
    font-family: "Poppins";
    text-align: center;
    font-size: 3.5em;
}

article {
    display: inline;
}