:root .whitemode{
    --bg-color: #e7fafc;
    --fg-color: #000;
    --color1: #00597c;
    --color2: #026873;
    --color3: #04BF8A;
    --color4: #025940;
    --color5: #03A64A;
    --left-offset: 5rem;
}

:root .darkmode {
    --bg-color: #024059;
    --fg-color: #fff;
    --color1: #c0d0d9;
    --color3: #04BF8A;
    --color2: #026873;
    --color4: #025940;
    --color5: #03A64A;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: var(--color3);
}

p {
    word-wrap: break-word;
    font-family: "Poppins Light";
    font-size: 2em;
    padding: 0 var(--left-offset);
}

h3 {
    font-family: "Poppins";
    text-align: center;
    font-size: 3.5em;
}

