@media screen and (max-width: 900px) {
    .projects {
        display: flex;
        flex-flow: column;
    }
    .project {
        margin-top: 4em;
    }
    .project p {
        padding: 0 var(--side-offset);
    }
    .project img {
        margin-top: 1em;
    }
}

@media screen and (min-width: 900px) {
    .project {
        margin: 1em 0;
    }
    .project img {
        margin-top: 0.7em;
    }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {
    .projects {
        margin: 0 var(--side-offset);
        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .project {
        width: 35vw;
    }
}

@media screen and (min-width: 1440px) {
    .projects {
        padding: 5em;
        margin: 0 auto;
        max-width: 1440px;
        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .project {
        width: 375px;
    }
}

.project {
    display: grid;
    height: 100%;
}

.project a {
    display: inline-block;
    height: 100;
}

.project img {
    width: 100%;
    height: auto;
}

.project p {
    color: var(--fg-color);
    text-decoration: none;
}