.project {
    display: inline-block;
    height: 100%;
    margin-top: 100px;
}

.project a {
    display: inline-block;
    height: 100%;
}

.projects img {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.project p {
    color: var(--fg-color);
    text-decoration: none;
}