@media screen and (max-width: 900px) {
    .topics {
        padding: 0 var(--side-offset);
    }

    .topic {
        margin-top: 4em;
        display: flex;
        height: 100%;
    }
}

@media screen and (min-width: 900px) {
    .topics {
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 var(--side-offset);
    }

    .topic {
        margin-top: 4em;
        display: grid;
        grid-template: 1fr 4fr / 1fr 2fr;
        grid-template-areas: "title text" 
                             "icon  text";
        flex-flow: row;
    }
    .topic h3 {
        grid-area: title;
    }
    .topic i {
        grid-area: icon;
    }
    .topic ul {
        grid-area: text;
    }
}

.topic ul {
    color: var(--fg-color);
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0;
    --list-indent: 1.5em;
}

.topic ul li {
    padding-left: var(--list-indent);
    max-width: 700px;
}

.topic ul li::before {
    content: ">";
    margin-left: calc(var(--list-indent) * -1);
    width: var(--list-indent);
    max-width: 700px;
}

.topics {
    display: flex;
    flex-flow: column;
}

.topic i {
    font-size: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fg-color);
}